/* Generals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #7fffd4;
    text-align: center;
}

/* Utilities */

.d-flex {
    display: flex;
}

.i-center {
    align-items: center;
}

.pr-1 {
    padding-right: 1rem;
}

.px-1 {
    padding: 0 1rem;
}

/* Header */

.toolbar {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
}

.toolbar img {
    width: 60px;
}

/* Main */

.grid {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto 40px;
}

.grid.end-game .square {
    pointer-events: none;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    cursor: pointer;
}

.square.safe,
.square.bomb {
    color: white;
    pointer-events: none;
}

.square.safe {
    background: #6495ed;
    box-shadow: 2px white inset;
}

.square.bomb {
    background: #dc143c;
    box-shadow: 2px black inset;
}


/* Footer */

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0.5rem;
    text-align: left;
    background-color: #fff;
}